.section-size {
	margin: 0 auto;
	width: 80%;
	max-width: $content-size;
}

.hover-animation {
	transition: all .2s;
}


@media (max-width: 768px) {
	.section-size {
		width: 90%;
		max-width: 710px;
	}
}
