@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');
$default-fonts: "Lato", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
$pink: #FF70D9;
$yellow: #EBFF00;
$dark-yellow: #92a51d;
$dark-blue: #0D1E48;
$blue: #304571;
$content-size: 1100px;
