.offers {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-bottom: 60px;

	&__wrapper__content {
		@extend .section-size;
	}

	&__wrapper__cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}

	&__title {
		@include text-size(3.2em);
		font-weight: 800;
		margin-bottom: 40px;
	}
}

@media (max-width: 768px) {
	.offers__wrapper__cards {
		gap: 30px;
	}

	.offers__title {
		@include text-size(2.4em);
		margin-bottom: 30px;
	}
}

@media (max-width: 640px) {
	.offers__wrapper__cards {
		grid-template-columns: 1fr;
	}
}
