.header {
	height: 80px;
	display: flex;
	align-items: center;
	background-color: black;
	position: sticky;

	&__wrapper {
		@extend .section-size;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
