.header {
	height: 80px;
	display: flex;
	align-items: center;
	background-color: black;
	position: relative;

	&__wrapper {
		@extend .section-size;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media (max-width: 768px) {
	.logo {
		width: 71px;
		height: 24px;
	}
}

@media (max-width: 640px) {
	.header {
		height: 48px;
	};
}
