.banner {
	background-image: url("../../../components/Banner/assets/Banner-space.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 500px;
	width: 100%;
	padding: 60px 0;

	&__wrapper {
		@extend .section-size;
		display: grid;
		grid-template-columns: minmax(500px, 60%) 40%;
		gap: 50px;
		text-align: left;
		place-items: start center;
	}

	&__title {
		@include text-size(7.2em, 1em);
		font-weight: 800;
		width: auto;
		margin: 30px 0 20px;
		
		& span {
			color: $pink;
		}
	}

	&__subtitle {
		@include text-size(3.2em);
		font-weight: 800;
		margin-bottom: 22px;

		& span {
			color: $yellow;
		}
	}
}
