.info {
	@extend .section-size;
	@include text-size(2em);

	&__text {
		opacity: 60%;
		margin: 17px 0;
	}

	&__link {
		color: $yellow;
		text-decoration: none;
		@extend .hover-animation;

		&:hover {
			color: $dark-yellow;
		}
	}
}

@media (max-width: 768px) {
	.info__text, .info__link {
		@include text-size(1.6rem);
	}
}

@media (max-width: 640px) {
	.info__text, .info__link {
		@include text-size(1.4rem);
	}
}
